
<div class="new-background ">
  <div class="header-image">
    <div class="content-container">
      <div class="col-8">
        <div class="box1">
          <h2 class="your-islands-header">Your Islands</h2>
          <div class="your-islands-card">
          <% if @my_islands != nil %>
          <% @my_islands.each do |island| %>
          <%= island.name %>
          <%= island.location %>
          <%= island.price %>
          <%= cl_image_tag island.photos[0].key %>
          <% end %>
          <% end %>
          </div>
          <%# <div id="new-island-results"></div> %>
        </div>
      </div>
      <div class="col-4">
        <div class="box2">
          <h3 class="list-your-island-header">List a new Island</h3>
          <%= simple_form_for @island do |f| %>
            <%= f.input :name, placeholder: 'Coral Island' %>
            <%= f.input :location, placeholder: 'The Great Barrier Reef' %>
            <%= f.input :price %>
            <%= f.input :description, as: :text, input_html: { rows: 3 }  %>
            <%= f.input :photos, as: :file, input_html: { multiple: true }  %>
            <%= f.submit %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
