  <div class=form-new-island>
    <h3>List your Island</h3>
    <%= simple_form_for @island do |f| %>
      <%= f.input :name, placeholder: 'name:', input_html: { class: 'new-island-inputs-1' } %>
      <%= f.input :location, placeholder: 'location:', input_html: { class: 'new-island-inputs-2' } %>
      <%= f.input :description, placeholder: 'description:', input_html: { class: 'new-island-inputs-3 custom-description-input' } %>
      <%= f.input :price %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.submit class: 'btn btn-flat' %>
    <% end %>
  </div>
