  <h3>List your Island</h3>
  <%= simple_form_for @island do |f| %>
    <%= f.input :name, placeholder: 'name:' %>
    <%= f.input :location, placeholder: 'location:'%>
    <%= f.input :description, placeholder: 'description:' %>
    <%= f.input :price %>
    <%= f.submit class: 'btn btn-flat' %>
  <% end %>
