
<<<<<<< HEAD
<<<<<<< HEAD
  <div class="new-background ">
  mr-20
    <div class="content-container">
      <div class="col-8">
        <div class="box1">
          <h2>Islands</h2>
        </div>
      </div>
      <div class="col-4">
        <div class="box2">
          <h3 class="list-your-island-header">List your Island</h3>
          <%= simple_form_for @island do |f| %>
            <%= f.input :name, placeholder: 'Coral Island' %>
            <%= f.input :location, placeholder: 'The Great Barrier Reef' %>
            <%= f.input :price %>
            <%= f.input :description, as: :text, input_html: { rows: 3 }  %>
            <%= f.input :photos, as: :file, input_html: { multiple: true }  %>
            <%= f.submit %>
          <% end %>
        </div>
      </div>

    </div>
=======
  <h3>List your Island</h3>
  <%= simple_form_for @island do |f| %>
    <%= f.input :name, placeholder: 'name:' %>
    <%= f.input :location, placeholder: 'location:'%>
    <%= f.input :description, placeholder: 'description:' %>
    <%= f.input :price %>

     <div class="form-group">
    <%= f.label :image %>

  </div>

    <%= f.submit class: 'btn btn-flat' %>
  <% end %>
  <div class=form-new-island>
    <h3 class="list-your-island-header">List your Island</h3>
    <%= simple_form_for @island do |f| %>
      <%= f.input :name, placeholder: 'name:', input_html: { class: 'new-island-inputs-1' } %>
      <%= f.input :location, placeholder: 'location:', input_html: { class: 'new-island-inputs-2' } %>
      <%= f.input :price, placeholder: 'price:', input_html: { class: 'new-island-inputs-3' }%>
      <%= f.text_area :description, placeholder: 'description:', class: "new-island-inputs-4" %>
      <%= f.input :photos, as: :file, input_html: { multiple: true }%>
      <%# , input_html: { class: 'new-island-inputs-5' }  %>
      <%= f.submit class: 'new-island-inputs-6' %>
    <% end %>
>>>>>>> 1fae210888930be2f51870d0a5adcd66421b863c
=======

<div class="new-background ">
  <div class="content-container">
    <div class="col-8">
      <div class="box1">
        <h2>Islands</h2>
      </div>
    </div>
    <div class="col-4">
      <div class="box2">
        <h3 class="list-your-island-header">List your Island</h3>
        <%= simple_form_for @island do |f| %>
          <%= f.input :name, placeholder: 'Coral Island' %>
          <%= f.input :location, placeholder: 'The Great Barrier Reef' %>
          <%= f.input :price %>
          <%= f.input :description, as: :text, input_html: { rows: 3 }  %>
          <%= f.input :photos, as: :file, input_html: { multiple: true }  %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
>>>>>>> 4d5bc7e7118a38a0a468467173512a652644d4df
  </div>
</div>
