
<div class="new-background ">
  <div class="header-image">
    <div class="content-container">
      <div class="col-8">
        <div class="box1">
          <h2 class="your-islands-header">Your Islands</h2>
          <div class="your-islands-card-container">
            <% if @my_islands != nil %>
              <% @my_islands.each do |island| %>
                <div class="your-island-cards">
                  <%= cl_image_tag island.photos[0].key, height: "150px", width: "300px" %>
                  <div class="island-card-content">
                  <p>name: <%= island.name %></p>
                  <p>location: <%= island.location %></p>
                  <p>price: <%= island.price %></p>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
          <%# <div id="new-island-results"></div> %>
        </div>
      </div>
      <div class="col-4">
        <div class="box2">
          <h3 class="list-your-island-header">List a new Island</h3>
          <%= simple_form_for @island do |f| %>
            <%= f.input :name, placeholder: 'Coral Island' %>
            <%= f.input :location, placeholder: 'The Great Barrier Reef' %>
            <%= f.input :price %>
            <%= f.input :description, as: :text, input_html: { rows: 3 }  %>
            <%= f.input :photos, as: :file, input_html: { multiple: true }  %>
            <%= f.submit %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
