<h2><%= @island.name %></h2>
<p><%= @island.description %></p>
<p><%= @island.location %></p>
<p><%= @island.price %></p>

 <%= link_to "Back to islands", islands_path %>
 <div>
 <%= link_to "Book this island", new_island_booking_path(@island) %>
</div>
